/*variables*/
/*mixins*/
/* line 14, ../sass/style.scss */
body {
  font: 100% Helvetica, sans-serif;
  color: pink;
}

/*nesting*/
/* line 21, ../sass/style.scss */
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 27, ../sass/style.scss */
nav li {
  display: inline-block;
  background-color: pink;
}
/* line 32, ../sass/style.scss */
nav a {
  display: block;
  padding: 5px 10px;
  color: white;
  text-decoration: none;
}

/* line 40, ../sass/style.scss */
.box {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  background-color: pink;
  padding: .5em;
  margin: 10px 0;
  color: white;
}

/* line 48, ../sass/style.scss */
.border-box, .border-box-light {
  border: .5em solid #B20047;
  padding: .5em;
  margin: 10px 0;
}

/* line 53, ../sass/style.scss */
.border-box-light {
  border-color: #F0CCDA;
}

/* line 58, ../sass/style.scss */
.container {
  width: 100%;
}

/* line 62, ../sass/style.scss */
article {
  float: left;
  width: 62.5%;
}

/* line 67, ../sass/style.scss */
aside {
  float: right;
  width: 31.25%;
}
